.icon-container {
    display: inline-block;
    width: 140px;
    height: 140px;
    background: rgb(95, 161, 214);
    border-radius: 30px;
    position: relative;
}

.icon-container .material-icons {
    display: block;
    font-size: 200px;
    color: rgb(75, 133, 180);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.img-box-round {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.img-box-label:before {
    content: "";
    display: block;
    width: 50%;
    height: 60px;
    border-right: 2px solid rgb(255, 255, 255);
    background: transparent;
    margin-bottom: 10px;
}

